<h2>{{title}}</h2>
<div class="timeline ui accordion">
  <ul>
    <li *ngFor="let event of events">
      <div class="title">
        <h3>{{event.title}}</h3>
        <p>{{event.resume}}</p>
        <p><i class="dropdown icon"></i>Ver mas</p>
      </div>
      <div class="content">
        <p>{{event.content}}</p>
        <!-- images -->
        <div class="ui small images">
          <img class="ui middle aligned image cursor" *ngFor="let image of event.images" (click)="modal(image.id)" src="{{image.src}}">
        </div>
        <div *ngFor="let image of event.images">
          <!-- Modal -->
          <div [hidden]="true" [id]="image.id" class="fullscreen modal">
            <div class="image">
              <img class="image" src="{{image.src}}">
            </div>
          </div>
        </div>
      </div>
      <!-- time -->
      <div class="time">
        <h4>{{event.time}}</h4>
      </div>
    </li>
    <div style="clear: both;"></div>
  </ul>
</div>
