<h2>{{title}}</h2>

<div class="container">
  <ul>
    <li>
      <img class="ui small rounded image" src="../../assets/img/ts.png">
      <p class="black">Ruby</p>
    </li>
    <li>
      <img class="ui small rounded image" src="../../assets/img/ts.png">
      <p class="black">JavaScript</p>
    </li>
    <li>
      <img class="ui small rounded image" src="../../assets/img/ts.png">
      <p class="black">TypeScript</p>
    </li>
    <li>
      <img class="ui small rounded image" src="../../assets/img/ts.png">
      <p class="black">Html</p>
    </li>
    <li>
      <img class="ui small rounded image" src="../../assets/img/ts.png">
      <p class="black">Css</p>
    </li>
    <li>
      <img class="ui small rounded image" src="../../assets/img/ts.png">
      <p class="black">texto</p>
    </li>
    <li>
      <img class="ui small rounded image" src="../../assets/img/ts.png">
      <p class="black">texto</p>
    </li>
    <li>
      <img class="ui small rounded image" src="../../assets/img/ts.png">
      <p class="black">texto</p>
    </li>
    <li>
      <img class="ui small rounded image" src="../../assets/img/ts.png">
      <p class="black">texto</p>
    </li>
  </ul>
</div>
